.my-row {
  display: flex;
  justify-content: center;
  gap: 4rem;
  border-radius: 0.5rem;
  margin: 2rem auto;
  font-family: "Montserrat", sans-serif;
}

.my-card {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-shadow: var(--shadow);
  min-width: 450px;
  flex-wrap: wrap;
}
