.wrapper,
.charts-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92vw;
  height: 100vh;
}

.charts-wrapper {
  justify-content: space-between;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
}
